<div class="modal fade in" ng-controller="CommentCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">在此输入你想对TA说的话（匿名）...</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form name="addrForm">              
                        <div class="form-group col-xs-12">
                            <textarea rows="7" class="form-control" ng-model="viewData.content">                            
                            </textarea>                      
                        </div>
                      
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="ok()">保存</button>
                    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>