<div class="my-wrapper">
  <div class="row my">
    <div class="col-sm-4">
      <h4>共收到 <b ng-bind="vm.like"></b> 个赞 和 <b ng-bind="vm.comments.length"></b> 个卡片</h4>
    </div>
    <div class="col-sm-8 upload-img">
      <h4>上传我的图片至首页
        <a class="btn btn-default btn-sm" href="javascript:void(0)"> 选择图片
          <input type="file" id="photoFileUpload">
        </a>
        <button class="btn btn-default btn-sm" ng-click="vm.upload()"> 上传 </button>
      </h4>
    </div>
  </div>

  <div class="row comments" style="margin-top: 10px;">
    <div class="comment" ng-repeat="comment in vm.comments">
        <p>
          {{comment.content}}
            <!-----来自{{comment.from}}-->
        </p>
    </div>
  </div> 
</div>  